.swiper_wrapper {
  position: relative;
  padding-bottom: 28px;
}

.project_card .image_box {
  display: block;
  height: 500px;
  padding: 70px 70px 0 70px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 25px;
}

.project_card .background_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 39, 52, 0.95);
}

.project_card .background_image {
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
  left: 50%;
  z-index: -1;
}

.project_card .project_image {
  position: relative;
  z-index: 1;
}

.project_card .project_image img {
  width: 100%;
}

.project_card .content h4 {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.project_card .content p {
  color: var(--text-color-light);
  font-size: 15px;
}

@media (max-width: 1200px) {
  .project_card .image_box {
    padding: 60px 60px 0 60px;
    height: 420px;
  }
}

@media (max-width: 991px) {
  .project_card .image_box {
    padding: 50px 50px 0 50px;
    height: 320px;
  }

  .project_card .content h4 {
    font-size: 20px;
  }
}

@media (max-width: 567px) {
  .project_card .image_box {
    padding: 40px 40px 0 40px;
  }
}
