.image_swiper {
  border-radius: 0px !important;
  cursor: grab !important;
}

.image_swiper .swiper-pagination {
  bottom: 5px !important;
}

.image_swiper .swiper-pagination-bullet {
  background-color: #000 !important;
  outline: 1px solid #fff !important;
}
