.image_swiper {
  border-radius: 0px;
}

.image_swiper .swiper-pagination {
  bottom: 5px !important;
}

.image_swiper .swiper-pagination-bullet {
  background-color: #000;
  outline: 1px solid #fff;
}
