.blog {
  position: relative;
  padding-bottom: var(--section-padding);
}

.blog .view_all {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

@media (max-width: 991.8px) {
  .blog .view_all {
    margin-top: 50px;
  }
}

@media (max-width: 567px) {
  .blog {
    padding-top: 24px;
  }

  .blog .view_all {
    margin-top: 30px;
  }
}
