.services_swiper {
  position: static !important;
}

.services_swiper .swiper-slide {
  height: auto !important;
}

.services_swiper .swiper-pagination {
  display: flex !important;
  align-items: center !important;
  /* justify-content: center;
  gap: 25px;
  bottom: calc(var(--section-padding) / 2);
  transform: translateY(50%); */
}

.services_swiper .swiper-pagination-bullet {
  background-color: #fff !important;
  width: 10px !important;
  height: 10px !important;
}

@media (min-width: 1850px) {
  .services_swiper .swiper-pagination {
    width: 300px !important;
    flex-direction: column !important;
    justify-content: flex-end !important;
    gap: 35px !important;
    padding-bottom: 250px !important;
    top: 0 !important;
    right: 0 !important;
    left: auto !important;
    bottom: var(--section-padding) !important;
    background-color: var(--main-color-medium) !important;
  }
}

@media (max-width: 1849.8px) {
  .services_swiper .swiper-pagination {
    bottom: calc(var(--section-padding) / 2) !important;
    transform: translateY(50%) !important;
    justify-content: center !important;
    gap: 25px !important;
  }
}

@media (max-width: 1200px) {
  .services_swiper .swiper-pagination {
    gap: 15px !important;
  }
}

@media (max-width: 767px) {
  .services_swiper .swiper-pagination {
    gap: 10px !important;
  }
  .services_swiper .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
  }
}
