.services_swiper {
  position: static;
}

.services_swiper .swiper-slide {
  height: auto !important;
}

.services_swiper .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  bottom: calc(var(--section-padding) / 2);
  transform: translateY(50%);
}

.services_swiper .swiper-pagination-bullet {
  background-color: #fff;
  width: 10px;
  height: 10px;
}

/* @media (min-width: 1850px) {
  .services_swiper .swiper-pagination {
    width: 300px;
    flex-direction: column;
    justify-content: flex-end;
    gap: 35px;
    padding-bottom: 250px;
    top: 0;
    right: 0;
    left: auto;
    bottom: var(--section-padding);
    background-color: var(--main-color-dark);
  }
}

@media (max-width: 1849.8px) {
  .services_swiper .swiper-pagination {
    bottom: calc(var(--section-padding) / 2);
    transform: translateY(50%);
    justify-content: center;
    gap: 25px;
  }
} */

@media (max-width: 1200px) {
  .services_swiper .swiper-pagination {
    gap: 15px;
  }
}

@media (max-width: 767px) {
  .services_swiper .swiper-pagination {
    gap: 10px;
  }
  .services_swiper .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}
