.hero {
  position: relative;
  height: 100vh;
  min-height: 700px;
  background-color: var(--main-color-dark);
  background-image: url("/hero-poly.svg");
  background-size: cover;
  padding-top: var(--header-height);
  margin-top: calc(-1 * var(--header-height));
  overflow: hidden;
  z-index: 1;
}

.hero_inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_inner .hero_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-bottom: 40px;
  text-align: center;
}

.hero_inner .hero_text h3 {
  font-size: 65px;
  font-weight: 400;
}

.hero_inner .hero_text h2 {
  font-size: 100px;
  font-weight: 400;
}

.hero_inner .hero_text span {
  position: relative;
  z-index: 1;
}

.hero_inner .hero_text span::after {
  position: absolute;
  content: "";
  z-index: -1;
  background: url(/ui/hero-name-under-shape.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 22px;
  left: 0;
  top: 83%;
}

.hero_inner .hero_text p {
  max-width: 550px;
  font-size: 22px;
  line-height: 1.6;
}

.social_links {
  margin-bottom: 8px;
}

.social_links ul {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social_links ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  transition: all 0.5s ease;
  backdrop-filter: blur(4px);
}

.social_links ul li a svg {
  width: 24px;
  height: 24px;
  color: var(--text-color);
  fill: var(--text-color);
}

@media (min-width: 1200px) {
  .social_links ul li a:hover {
    background-color: var(--text-color);
  }

  .social_links ul li a:hover svg {
    color: var(--main-color-light);
    fill: var(--main-color-light);
  }
}

@media (max-width: 1800px) {
  .hero_inner .hero_text h3 {
    font-size: 60px;
  }

  .hero_inner .hero_text h2 {
    font-size: 85px;
  }

  .hero_inner .hero_text p {
    max-width: 450px;
    font-size: 19px;
  }
}

@media (max-width: 1400px) {
  .hero_inner .hero_text p {
    max-width: 420px;
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .hero {
    height: 700px;
  }

  .hero_inner .hero_text h3 {
    font-size: 45px;
  }

  .hero_inner .hero_text h2 {
    font-size: 65px;
  }

  .hero_inner .hero_text p {
    max-width: 420px;
    font-size: 16px;
  }
}

@media (max-width: 991.8px) {
  .hero_inner {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .hero_inner .hero_text h3 {
    font-size: 38px;
  }

  .hero_inner .hero_text h2 {
    font-size: 54px;
  }

  .hero_inner .hero_text p {
    font-size: 18px;
  }

  .social_links ul li a {
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 767px) {
  .hero {
    height: 100vh;
    background-image: url("/hero-poly-mobile.svg");
  }
}

@media (max-width: 567px) {
  .hero {
    min-height: 600px;
    padding-bottom: 35px;
  }

  .hero_inner {
    display: flex;
    flex-direction: column;
  }

  .hero_inner .hero_text h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .hero_inner .hero_text h2 {
    font-size: 38px;
  }

  .hero_inner .hero_text p {
    font-size: 16px;
  }

  .social_links ul li a {
    width: 50px;
    height: 50px;
  }

  .social_links ul li a svg {
    width: 22px;
    height: 22px;
  }
}
