.hero {
  position: relative;
  height: 100vh;
  min-height: 700px;
  background-color: var(--main-color-dark);
  padding-top: var(--header-height);
  overflow: hidden;
  z-index: 1;
}

.hero_inner {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.hero_inner .hero_text {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.hero_inner .hero_text h3 {
  font-size: 65px;
  font-weight: 500;
}

.hero_inner .hero_text h2 {
  font-size: 100px;
  font-weight: 500;
  margin-bottom: 50px;
}

.hero_inner .hero_text span {
  position: relative;
  z-index: 1;
}

.hero_inner .hero_text span::after {
  position: absolute;
  content: "";
  z-index: -1;
  background: url(/hero-name-under-shape.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 22px;
  left: 0;
  top: 83%;
}

.hero_inner .hero_text p {
  max-width: 550px;
  margin-bottom: 60px;
  color: var(--text-color-light);
  font-size: 22px;
  line-height: 1.6;
}

.hero_inner .hero_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hero_image .image_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero .hero_shape {
  z-index: -1;
  position: absolute;
}

.hero .hero_shape.hero_shape_top {
  top: -100px;
}

.hero .hero_shape.hero_shape_bottom {
  bottom: -100px;
  left: 0;
}

.hero .hero_shape span {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero .hero_shape span:nth-child(1) {
  width: 440px;
  height: 440px;
}

.hero .hero_shape span:nth-child(2) {
  width: 560px;
  height: 560px;
}

.hero .hero_shape span:nth-child(3) {
  width: 700px;
  height: 700px;
}

@media (max-width: 1800px) {
  .hero_inner .hero_text h3 {
    font-size: 60px;
  }

  .hero_inner .hero_text h2 {
    font-size: 85px;
  }

  .hero_inner .hero_text p {
    max-width: 450px;
    font-size: 19px;
    margin-bottom: 60px;
  }

  .hero_image .image_wrapper {
    width: 90%;
  }
}

@media (max-width: 1400px) {
  .hero_inner .hero_text p {
    max-width: 420px;
    font-size: 18px;
    margin-bottom: 60px;
  }
}

@media (max-width: 1200px) {
  .hero {
    height: 700px;
  }

  .hero_inner .hero_text h3 {
    font-size: 45px;
  }

  .hero_inner .hero_text h2 {
    font-size: 65px;
  }

  .hero_inner .hero_text p {
    max-width: 420px;
    font-size: 16px;
  }

  .hero .hero_shape {
    display: none;
  }
}

@media (max-width: 991.8px) {
  .hero {
    height: 100vh;
  }

  .hero_inner {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .hero_inner .hero_text {
    padding: 50px 0;
    align-items: center;
    text-align: center;
  }

  .hero_inner .hero_text h3 {
    font-size: 38px;
  }

  .hero_inner .hero_text h2 {
    font-size: 54px;
    margin-bottom: 26px;
  }

  .hero_inner .hero_text p {
    margin-bottom: 32px;
    font-size: 18px;
  }

  .hero_image .image_wrapper {
    width: 100%;
  }
}

@media (max-width: 567px) {
  .hero {
    min-height: 600px;
    padding-bottom: 35px;
  }

  .hero_inner {
    display: flex;
    flex-direction: column;
  }

  .hero_inner .hero_text {
    padding: 0;
    height: 50%;
    justify-content: center;
  }

  .hero_inner .hero_text h3 {
    font-size: 24px;
  }

  .hero_inner .hero_text h2 {
    font-size: 38px;
  }

  .hero_inner .hero_text p {
    font-size: 16px;
  }

  .hero_inner .hero_image {
    height: 50%;
  }

  .hero_inner .hero_image img {
    object-position: top;
  }
}
