.markdown-wrapper {
  color: var(--text-color-light);
}

.markdown-wrapper h1,
.markdown-wrapper h2,
.markdown-wrapper h3 {
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.5;
}

.markdown-wrapper h1 {
  font-size: 42px;
  margin-bottom: 30px;
}

.markdown-wrapper h2 {
  font-size: 34px;
  margin: 30px 0;
}

.markdown-wrapper h3 {
  font-size: 26px;
  margin: 25px 0;
}

.markdown-wrapper p {
  line-height: 1.7;
  margin-bottom: 20px;
}

.markdown-wrapper ul,
.markdown-wrapper ol {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 20px;
  margin-left: 18px;
}

.markdown-wrapper ul {
  list-style: circle;
}

.markdown-wrapper ul li {
  line-height: 1.7;
}

.markdown-wrapper a {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .markdown-wrapper h1 {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .markdown-wrapper h2 {
    font-size: 26px;
  }

  .markdown-wrapper h3 {
    font-size: 22px;
    margin: 20px 0;
  }
}

@media (max-width: 567px) {
  .markdown-wrapper h1 {
    font-size: 26px;
  }

  .markdown-wrapper h2 {
    font-size: 24px;
  }

  .markdown-wrapper h3 {
    font-size: 18px;
  }
}
