.project_details {
  background-color: var(--main-color-light);
  padding: 50px 0;
}

.content_wrapper {
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 35px;
}

@media (max-width: 991px) {
  .content_wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 567px) {
  .project_details {
    padding: 30px 0;
  }
}
