.footer {
  position: relative;
  background-color: var(--main-color-dark);
  overflow: hidden;
}

.footer .copy_right {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
}

.copy_right .copy_right_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy_right_inner .logo_wrapper {
  display: flex;
  align-items: center;
}

.copy_right_inner .logo_wrapper a {
  display: inline-flex;
  width: 125px;
}

.copy_right_inner .logo_wrapper a img {
  max-width: 100%;
  height: auto;
}

.footer .footer_shape {
  position: absolute;
  z-index: 1;
}

.footer .footer_shape.footer_shape_left {
  top: -100px;
}

.footer .footer_shape.footer_shape_right {
  top: -100px;
  right: 0;
}

.footer .footer_shape span {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer .footer_shape span:nth-child(1) {
  width: 600px;
  height: 600px;
}

.footer .footer_shape span:nth-child(2) {
  width: 730px;
  height: 730px;
}

.footer .footer_shape span:nth-child(3) {
  width: 860px;
  height: 860px;
}

@media (max-width: 1400px) {
  .footer .footer_shape span:nth-child(1) {
    width: 450px;
    height: 450px;
  }

  .footer .footer_shape span:nth-child(2) {
    width: 550px;
    height: 550px;
  }

  .footer .footer_shape span:nth-child(3) {
    width: 650px;
    height: 650px;
  }
}

@media (max-width: 1200px) {
  .footer .footer_shape {
    display: none;
  }
}

@media (max-width: 991.8px) {
  .copy_right .logo_wrapper a {
    width: 110px;
  }
}

@media (max-width: 567px) {
  .copy_right .copy_right_inner {
    justify-content: center;
  }

  .copy_right .logo_wrapper {
    display: none;
  }
}
